ion-icon{
    font-size: 20px;

}
.full-screen-datetime {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Optional: remove any border if exists */
    margin: 0; /* Optional: remove any margin if exists */
    margin-left: 12px;
    padding: 0; /* Optional: remove any padding if exists */

    --ion-color-primary: #bf2121;
    --ion-color-primary-rgb: 255, 99, 71;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-tint: #fc9595;
}

.ion-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button-wrapper {
    margin-top: 500px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    color: #bf2121;
}

.custom-button {
    font-size: 18px;
    text-transform: none;
}
